:root {
  --grms-sidebar-width: 280px;
  --grms-top-offset: 0px;
  --grms-group-max: 240px;
}

/* Header should NOT have a forced fixed height */
#header {
  position: sticky;
  top: 0;
  z-index: 1100;
}

/* Breadcrumbs stay in normal flow under header */
.breadcrumbs {
  position: relative;
  z-index: 1000;
}

/* Sidebar fixed under header+breadcrumbs */
#grms-sidebar {
  position: fixed;
  top: var(--grms-top-offset);
  left: 0;
  width: var(--grms-sidebar-width);
  height: calc(100vh - var(--grms-top-offset));
  z-index: 1050;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Apply LEFT offset once (do NOT also set margin-left on #content/#content-main) */
body.grms-has-sidebar #container .main {
  margin-left: var(--grms-sidebar-width);
}

/* Apply TOP offset once: do NOT pad #container/#content/#content-main multiple times */
#container {
  padding-top: 0 !important;
}

#content,
#content-main,
#content-start.content,
#container .content {
  padding-top: 0 !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
