{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ site_title }}{% endblock %}

{% block bodyclass %}app-grms {{ block.super }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'grms/css/grms_admin.css' %}">
  <link rel="stylesheet" href="{% static 'grms/css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'grms/css/sidebar_custom.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'grms/js/dashboard.js' %}"></script>
  <script src="{% static 'grms/js/sidebar_custom.js' %}"></script>
{% endblock %}

{% block nav-sidebar %}
  <div id="grms-sidebar">
    {% include "admin/sidebar.html" %}
  </div>
{% endblock %}

{% block content %}
  <div class="grms-main-content">
    {{ block.super }}
  </div>
{% endblock %}
