{% extends "admin/base.html" %}
{% load static %}

{# Include custom collapse styling #}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'grms/css/sidebar_collapse.css' %}">
{% endblock %}

{# Include custom collapse script #}
{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'grms/js/sidebar_collapse.js' %}"></script>
{% endblock %}

{# Use the default navigation sidebar; collapse behaviour is handled by JS #}
{% block nav-sidebar %}
  {{ block.super }}
{% endblock %}
