{% extends "admin/base_site.html" %}
{% load static %}

{% block bodyclass %}grms-dashboard-page {{ block.super }}{% endblock %}

{% block grms_main_content %}
  {% include "admin/dashboard_content.html" %}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="{% static 'grms/js/dashboard.js' %}"></script>
{% endblock %}
